:root {
    --primaryColor: #e50914;
    --secondColor: #3a86ff;
    --bgColor: #1e1e1e;
    --accentColor: #2a2a2a;
    --whiteColor: #fff;
    --darkColor: #000;
    --textFont: "Inter", sans-serif;
    --headingFont: "Merriweather", serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background-color: var(--bgColor) !important;
    color: var(--whiteColor) !important;
    font-family: var(--textFont) !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--headingFont) !important;
}

img {
    display: block;
    max-width: 100% !important;
}

/* ---- Header Section ---- */

header {
    background-color: var(--accentColor);
    width: 90%;
    margin-inline: auto;
}

/* -- Dark mode to Light mode switch -- */
/* The switch - the box around the slider */
.switch {
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #000;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px var(--whiteColor);
  background: var(--background);
  transition: .5s;
}

input:checked + .slider {
  background-color: #522ba7;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px var(--whiteColor);
}

/* Navigation */
.navigation {
    width: 100%;
    height: 100%;
    color: var(--darkColor);
    background-color: var(--whiteColor);
    position: fixed;
    top: 0;
    left: -100%;
    border-radius: 0 100% 100% 0;
    transition: 0.5s ease !important;
}

.nav-item {
    transition: 0.5s ease 0.5s !important;
}

.navs-links {
    margin-top: 20%;
    padding-left: 2% !important; /* ==== Need Change on Big screens ==== */
}

.nav-link {
    color: var(--darkColor) !important;
}

.nav-btn {
    font-size: 1.2rem;
    background: none !important;
}

.nav-open {
    background-color: transparent;
    outline: none;
    color: white !important;
}

.nav-close {
    position: absolute;
    top: 2%;
    left: 2%;
    border: none;
    font-size: 2rem;
}

.navbar-brand a {
    text-decoration: none;
    color: white;
}

.logo-tag {
    color: var(--primaryColor);
}

/* ---- Hero Section ---- */

.hero {
    width: 100%;
    height: 90vh;
    --hbg-color: #121212;
    background-color: var(--hbg-color);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    width: 100%;
}

.hero-img {
    position: relative;
}

.hero-img img {
    width: 350px;
    height: 350px;
    border-radius: 50% !important;
}

.hero-contact {
    background-color: var(--primaryColor) !important;
    color: var(--whiteColor) !important;
}

/* ---- About Section ---- */

.about-im {
    border-radius: 20px;
}

.headings {
    position: relative;
    padding-block: 10px;
    margin-bottom: 20px;
}

.headings::after {
    content: "";
    width: 20%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primaryColor);
}